---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import crown from '../../assets/img/logos/logo-crown.png';
---

<Layout title="Welcome to Astro." description="Prince Collection">
	<main>
		<div class="container-fluid px-0">
            <div class="row min-vh-100">
                <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center p-5">
					<Image style="width: 80px; height: 80px" src={crown} alt="Prince Collection logo"/>
					<h1 class="text-center lh-1 mb-0 mt-3 text-uppercase" style="font-size: 10vw;">Reviews</h1>
					<p class="fs-3 mb-3">The new standard in luxury travel.</p>
					<div class="d-flex">
						<button class="btn btn-pc me-2">Get started</button>
						<button class="btn btn-pc">Learn more</button>
					</div>
                </div>
            </div>
		</div>
		
	</main>
</Layout>
