---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Astro." description="Prince Collection">
	<main>
		<!-- <Card
			href="https://docs.astro.build/"
			title="Documentation"
			body="Learn how Astro works and explore the official API docs."
		/> -->
		<div class="container-fluid px-0">
			<!-- <div class="row row-cols-1 row-cols-lg-2 min-vh-100">
				<div class="col d-flex flex-column justify-content-center align-items-start text-start p-5 min-vh-50">
					<h1 class="fw-bold lh-1">Prince Collection Guides</h1>
				</div>
				<div class="col min-vh-50 p-0">
					<img class="w-100 h-100 rounded-4" style="object-fit: cover" src="https://images.unsplash.com/photo-1602217401979-6f7209f5289d?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
				</div>
			</div> -->
            <div class="row min-vh-100 bg-dark text-pc">
                <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center p-5">
                    <img style="width: 80px; height: 80px;" src="src/assets/img/logos/logo-crown.png" alt="">
					<h1 class="fw-bold text-light lh-1 mb-2 mt-3" style="font-size: 10vw;">Prince Collection</h1>
					<p class="fs-2 mb-3">The new standard in luxury travel.</p>
                </div>
            </div>
		</div>
		
	</main>
</Layout>
