/* https://www.learnui.design/tools/data-color-picker.html#single */

:root {
    --pc: #f0beb4;
    --pc-dark: #a1655c;
    /* CSS menu palette HEX */
    --melon: #f0beb4ff;
    --vanilla: #f0eab4ff;
    --dutch-white: #f0ddbfff;
    --pale-dogwood: #efd0caff;
    --timberwolf: #d4d7cdff;
    --tiffany-blue: #b8ddcfff;
    --periwinkle: #cac0f0ff;
    --blue-gray: #6f9ed6ff;
    --ucla-blue: #52749dff;
    --charcoal: #474e57ff;
}

/* pc dark brand */

.text-pc-dark {
    color: var(--pc-dark);
}
.text-pc-dark-80 {
    color: #b47b6e;
}
.text-pc-dark-60 {
    color: #c69081;
}
.text-pc-dark-40 {
    color: #d9a794;
}
.text-pc-dark-20 {
    color: #ecbea9;
}
.text-pc-dark-10 {
    color: #ffd5bf;
}

/* bg */

.bg-pc-dark {
    background: var(--pc-dark);
}
.bg-pc-dark-80 {
    background: #b47b6e;
}
.bg-pc-dark-60 {
    background: #c69081;
}
.bg-pc-dark-40 {
    background: #d9a794;
}
.bg-pc-dark-20 {
    background: #ecbea9;
}
.bg-pc-dark-10 {
    background: #ffd5bf;
}

/* pc brand */

.text-pc {
    color: var(--pc);
}
.text-pc-80 {
    color: #f2c5bc;
}
.text-pc-60 {
    color: #f5cdc5;
}
.text-pc-40 {
    color: #f7d4cd;
}
.text-pc-20 {
    color: #f9dcd5;
}
.text-pc-10 {
    color: #fbe3de;
}

/* bg */

.bg-pc {
    background: var(--pc);
}
.bg-pc-80 {
    background: #f2c5bc;
}
.bg-pc-60 {
    background: #f5cdc5;
}
.bg-pc-40 {
    background: #f7d4cd;
}
.bg-pc-20 {
    background: #f9dcd5;
}
.bg-pc-10 {
    background: #fbe3de;
}

/* general */

.text-chestnut {
    color: #5D2F27;
}
.bg-light-grey {
    background: #EFEFEF;
}
.text-light-grey {
   color: #EFEFEF;
}

/* nav modal */

.bg-vanilla {
    background: var(--vanilla);
}
.bg-dutch-white {
    background: var(--dutch-white);
}
.bg-pale-dogwood {
    background: var(--pale-dogwood);
}
.bg-tiffany-blue {
    background-color: var(--tiffany-blue);
}
.bg-periwinkle {
    background: var(--periwinkle);
}
.bg-timberwolf {
    background: var(--timberwolf);
}

/* sidenav drawer */

.bg-indigo {
    background: #0c1e35;
}
.text-indigo {
    color: #0c1e35;
}
.text-lightblue {
    color: #7d84ab
}
.bg-lightblue {
    background: #7d84ab;
}

