/* https://www.learnui.design/tools/data-color-picker.html#single */

/* pc brand */

.text-pc-dark {
    color: #a1655c;
}
.text-pc-dark-80 {
    color: #b47b6e;
}
.text-pc-dark-60 {
    color: #c69081;
}
.text-pc-dark-40 {
    color: #d9a794;
}
.text-pc-dark-20 {
    color: #ecbea9;
}
.text-pc-dark-10 {
    color: #ffd5bf;
}

/* bg */

.bg-pc-dark {
    background: #a1655c;
}
.bg-pc-dark-80 {
    background: #b47b6e;
}
.bg-pc-dark-60 {
    background: #c69081;
}
.bg-pc-dark-40 {
    background: #d9a794;
}
.bg-pc-dark-20 {
    background: #ecbea9;
}
.bg-pc-dark-10 {
    background: #ffd5bf;
}



/* #a1655c
#b47b6e
#c69081
#d9a794
#ecbea9
#ffd5bf */

.text-pc {
    color: #f0beb4;
}

.text-pc-dark {
    color: #a1655c;
}

.text-chestnut {
    color: #5D2F27;
}

.bg-pc {
    background-color: #f0beb4;
}

.bg-pc-50 {
    background-color: #f0beb480;
}

.bg-pc-30 {
    background-color: #f0beb44F;
}

.bg-pc-dark {
    background-color: #a1655c;
}

.bg-pc-dark-50 {
    background-color: #a1655c80;
}

.bg-pc-dark-30 {
    background-color: #a1655c4F;
}

.bg-midnight-blue {
    background: #061E51;
}
.bg-sky-blue {
    background: #56C3FF;
}
.bg-electric-blue {
    background: #2364F6;
}
.bg-logo-blue {
    background: #224B9A;
}
.bg-ice-blue {
    background: #DCF1FF;
}
.bg-green {
    background: #05B487;
}
.bg-magenta {
    background: #AA206D;
}
.bg-purple {
    background: #7B53F5;
}
.bg-light-grey {
    background: #EFEFEF;
}

.text-midnight-blue {
    color: #061E51;
}
.text-sky-blue {
    color: #56C3FF;
}
.text-electric-blue {
    color: #2364F6;
}
.text-logo-blue {
    color: #224B9A;
}
.text-ice-blue {
    color: #DCF1FF;
}
.text-green {
   color: #05B487;
}
.text-magenta {
   color: #AA206D;
}
.text-purple {
   color: #7B53F5;
}
.text-light-grey {
   color: #EFEFEF;
}