/* https://www.learnui.design/tools/data-color-picker.html#single */

/* pc brand */

.text-pc-dark {
    color: #a1655c;
}
.text-pc-dark-80 {
    color: #b47b6e;
}
.text-pc-dark-60 {
    color: #c69081;
}
.text-pc-dark-40 {
    color: #d9a794;
}
.text-pc-dark-20 {
    color: #ecbea9;
}
.text-pc-dark-10 {
    color: #ffd5bf;
}

/* bg */

.bg-pc-dark {
    background: #a1655c;
}
.bg-pc-dark-80 {
    background: #b47b6e;
}
.bg-pc-dark-60 {
    background: #c69081;
}
.bg-pc-dark-40 {
    background: #d9a794;
}
.bg-pc-dark-20 {
    background: #ecbea9;
}
.bg-pc-dark-10 {
    background: #ffd5bf;
}

/* #a1655c
#b47b6e
#c69081
#d9a794
#ecbea9
#ffd5bf */

.text-pc {
    color: #f0beb4;
}
.text-pc-80 {
    color: #f2c5bc;
}
.text-pc-60 {
    color: #f5cdc5;
}
.text-pc-40 {
    color: #f7d4cd;
}
.text-pc-20 {
    color: #f9dcd5;
}
.text-pc-10 {
    color: #fbe3de;
}

/* bg */

.bg-pc {
    background: #f0beb4;
}
.bg-pc-80 {
    background: #f2c5bc;
}
.bg-pc-60 {
    background: #f5cdc5;
}
.bg-pc-40 {
    background: #f7d4cd;
}
.bg-pc-20 {
    background: #f9dcd5;
}
.bg-pc-10 {
    background: #fbe3de;
}

/* #f0beb4
#f2c5bc
#f5cdc5
#f7d4cd
#f9dcd5
#fbe3de */

.text-chestnut {
    color: #5D2F27;
}
.bg-light-grey {
    background: #EFEFEF;
}
.text-light-grey {
   color: #EFEFEF;
}