/* @import '../fonts/IvyMode-Regular/style.css';
@import '../fonts/IvyMode-Bold/style.css';
@import '../fonts/IvyMode-SemiBold/style.css'; */

@import './colors.css';
@import './animations.css';
@import './buttons.css';
@import './utilities.css';
/* @import './fonts.css'; */

html {
    scroll-behavior: smooth;
  }
  
body {
    font-family: 'Inter Tight', Helvetica, sans-serif;
    max-width: 1900px;
    overflow-x: hidden;
    line-height: 1.4;
}

section {
  padding: 2rlh;
}

h1, h2, p {
  margin-block: 1rlh;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: 'Gloock', serif;
  font-weight: 900;
  letter-spacing: 0;
}

img {
  width: 100%;
  margin-inline: auto;
}