@import './carousel.css';
@import './colors.css';
@import './animations.css';
@import './buttons.css';
@import './utilities.css';
/* @import './fonts.css'; */

html {
    scroll-behavior: smooth;
  }
  
body {
  /* background-color: var(--pc-light); */
    font-family: 'Inter Tight', Helvetica, Arial, sans-serif;
    max-width: 1900px;
    overflow-x: hidden;
    line-height: 1.4;
    transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

/* general spacing setup */

section {
  padding: 2rlh;
}

h1, h2, p {
  margin-block: 1rlh;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: 'Gloock', serif;
  font-weight: 900;
  letter-spacing: 0;
}

p {
  text-wrap: balance;
}

/* images */

img {
  width: 100%;
  margin-inline: auto;
}

#content, 
#content h1,
#content h2 { 
  font-family: 'Inter tight', Helvetica, Arial, sans-serif;
  color: var(--bs-secondary-color)!important;
}

#content > .content-body img {
  border-radius: 23px;
  margin: 20px auto;
}

.content-body h1:first-of-type {
  margin-top: 0;
}

/* #content p:nth-of-type(3) {
  background: var(--light-grey);
  padding: 40px;
  border-radius: 10px;
} */

