---
import Layout from '../layouts/Layout.astro';
import BookingFormVertical from '../components/BookingFormVertical.astro';
import data from '../data/sitecontent.json';
---

    <Layout title="Prince Collection | Book Your Hotel" description="Prince Collection booking services">
        <div class="container-fluid px-0 pt-3 bg-pc-dark text-light">
			<div class="row min-vh-100">
				<div class="col-lg-5 d-flex flex-column justify-content-end align-items-start min-vh-50 text-start p-5 mb-0 mb-lg-4 mt-4 mt-lg-0">
                    <span class="badge rounded-pill fw-bold text-bg-dark py-2 px-3">{data.booking.badge}</span>
					<h1 class="display-4 fw-bold text-pc lh-1 mb-2 mt-3">{data.booking.title}</h1>
					<p class="fs-5 mt-3 mb-0">{data.booking.content}</p>
				</div>
                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-start">
                    <BookingFormVertical />
                </div>
            </div>
        </div>
    </Layout>

