---
import Layout from '../layouts/Layout.astro';
import BookingFormVertical from '../components/BookingFormVertical.astro';
---
    <!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
    <Layout title="Prince Collection | Book Your Hotel" description="Prince Collection booking services">
        <div class="container-fluid px-0 pt-3 bg-pc-dark text-light">
			<div class="row min-vh-100">
				<div class="col-lg-5 d-flex flex-column justify-content-end align-items-start min-vh-50 text-start p-5 mb-0 mb-lg-4 mt-4 mt-lg-0">
                    <span class="badge rounded-pill fw-bold text-bg-dark py-2 px-3">Book your trip</span>
					<h1 class="display-4 fw-bold lh-1 mb-2 mt-3">Book with <span class="text-pc">Us</span></h1>
					<p class="fs-5 mt-3 mb-0">Prince Collection’s Travel Concierge is designed exclusively for companies and individuals who require exclusive travel arrangements handled for them. Get started by filling out some basic info about your trip, and one of our representatives will get back to you as soon as possible.</p>
				</div>
                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-start">
                    <BookingFormVertical />
                </div>
            </div>
        <!-- <BookingFormVertical /> -->
        </div>
    </Layout>

