---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout title="Prince Collection | Concierge" description="Prince Collection Concierge services">
	<main>
		<div class="container-fluid px-0 pt-3">
			<div class="row min-vh-500">
				<div class="col-lg-12 d-flex flex-column justify-content-center align-items-center min-vh-500 text-center p-5">
                    <span class="badge rounded-pill fw-bold bg-pc-dark-80 text-light py-2 px-3">Where will you go next?</span>
					<h1 class="display-3 fw-bold lh-1 mb-2 mt-3">Your <span class="text-pc-dark">luxury</span> travel concierge</h1>
					<p class="col-md-7 fs-5 text-body-secondary mt-3 mb-4">Prince Collection’s Travel Concierge is designed exclusively for companies and individuals who require exclusive travel arrangements handled for them. Our expertise lies in handling the nuances of travel, ensuring a seamless and extraordinary journey from start to finish.</p>
					<a href="/book">
						<button class="btn btn-pc fw-bold rounded-pill px-4 shadow">Book your hotel</button>
					</a>

                    <!-- <iframe src="https://www2.paymentus.com/l/48232/2024-01-25/8p8gqh" width="100%" height="500" type="text/html" frameborder="0" allowtransparency="true" style="border: 0"></iframe> -->


<!-- <form action="https://www2.paymentus.com/l/48232/2024-01-25/8p8grz" method="post">
    <label for="name">Name</label>
<input type="text" name="name">
<label for="name">Email</label>
<input type="email" name="email">

<button type="submit">Submit</button>
</form> -->

				</div>
			</div>

            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 p-5 bg-light">
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/fourseasons.webp" style="width: 140px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/rosewood.webp" style="width: 140px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/mandarin.webp" style="width: 120px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/hyatt.webp" style="width: 120px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/virtuoso.webp" style="width: 140px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/rocco.webp" style="width: 120px; filter: brightness(0);" alt="">
				</div>
			</div>

            <div class="row row-cols-1 row-cols-2">
				<div class="col d-flex flex-column justify-content-center align-items-start text-start p-5">
                    <span class="badge rounded-pill fw-bold bg-pc-dark-80 text-light py-2 px-3">What we offer</span>
					<h2 class="display-4 fw-bold lh-1 mb-2 mt-4">We're <span class="text-pc-dark">more</span> than a travel agency</h2>
					<p class="text-body-secondary fs-5 my-3">Our Concierge does not offer basic booking services in the same way a traditional agent might. Our services are more personalized and complex. Since Concierge does not rely on commissions, we are always able to keep our clients best interests front of mind. Independent travel planning: Our services may not be suitable for those who prefer to plan their travel independently and prefer to do things themselves.</p>
				</div>
				<div class="col p-5">
                    <Image src="https://princeoftravel.wpengine.com/wp-content/uploads/2023/10/St.Regis-Bora-Bora-117-scaled.jpg" alt="" class="w-100 h-100 rounded-4" style="object-fit: cover; aspect-ratio: 1" width="1200" height="400" alt="descriptive text"/>
				</div>
			</div>

            <div class="row p-5">
				<div class="col-lg-12 d-flex flex-column justify-content-center align-items-center text-center p-5">
                    <span class="badge rounded-pill fw-bold bg-pc-dark-80 text-light py-2 px-3">What we do</span>
					<h2 class="display-4 fw-bold lh-1 mb-2 mt-3">What does Prince Collection offer?</h2>
					<p class="text-body-secondary col-md-8 fs-5 my-3">We conduct a thorough evaluation of clients' credit cards, Elite status, and travel habits. This process aids us in developing a full travel strategy document to optimize the clients' travel experiences. Furthermore, our account managers gain access to clients' loyalty accounts to manage bookings, monitor progress to elite status, and ensure all optimized strategies are being implemented.</p>
				</div>
                <div class="col-lg-4">
					<div class="p-5 border rounded-4 bg-pc-dark-80 text-light border shadow">
						<i class="bi bi-sunrise text-pc-dark-10 fs-2"></i>
						<h4 class="mt-1 mb-3">Comprehensive onboarding & annual travel strategy</h4>
						<p>We conduct a thorough evaluation of clients' credit cards, Elite status, and travel habits. This process aids us in developing a full travel strategy document to optimize the clients' travel experiences.</p>
                        <!-- Furthermore, our account managers gain access to clients' loyalty accounts to manage bookings, monitor progress to elite status, and ensure all optimized strategies are being implemented. -->
					</div>
				</div>
				<div class="col-lg-4">
					<div class="p-5 border rounded-4 bg-pc-dark-80 text-light border shadow">
						<i class="bi bi-cash-coin text-pc-dark-10 fs-2"></i>
						<h4 class="mt-1 mb-3">Customized trip booking</h4>
						<p>Clients communicate their travel requirements to their account manager, who will then research and suggest the best flight and hotel options, keeping in mind the clients' preferences, travel goals, and points balances. Clients only need to sign off on trip proposals, after which the account manager proceeds with the bookings.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="p-5 border rounded-4 bg-pc-dark-80 text-light border shadow">
						<i class="bi bi-house-heart text-pc-dark-10 fs-2"></i>
						<h4 class="mt-1 mb-3">24/7 emergency travel support</h4>
						<p>Our Concierge team is available 24/7 to assist in emergency travel situations. In case of flight cancellations, delays, missed connections, or any other unexpected circumstances, our team adeptly navigates airline systems to achieve the best possible outcomes.</p>
					</div>
				</div>
            </div>

            <div class="py-4"></div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-12 p-0">
                        <Image src="https://images.unsplash.com/photo-1604601600542-c751186db4a3?q=80&w=2652&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="A bird." class="w-100" style="object-fit: cover; aspect-ration: 16/9" width="1200" height="500" alt="descriptive text"/>
                    </div>
                </div>
            </div>

            <div class="row row-cols-1 g-5 p-5">
                <div class="col">
                    <span class="badge rounded-pill fw-bold bg-pc-dark-80 text-light py-2 px-3">What we do</span>
                    <h2 class="display-4 fw-bold my-3">Our Guarantee</h2>
                    <p class="col-md-6 fs-5 text-body-secondary">In aliqua incididunt commodo mollit ad officia exercitation ea nostrud ut proident do tempor. Cillum ut exercitation eu ea dolore. Do adipisicing et consectetur commodo in cillum.</p>
                </div>
		    </div>

            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 px-5">
                <div class="col">
                    <div class="p-5 rounded-5 shadow-lg h-100">
                    <h2 class="text-pc-dark fw-bold">01</h2>
                    <h4 class="mt-1 mb-3 fw-900">Save time</h4> 
                    <p>We take over the time-consuming task of planning, optimizing, and managing travel, allowing clients to focus on other priorities.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-5 rounded-5 shadow-lg h-100">
                        <h2 class="text-pc-dark fw-bold">02</h2>
                        <h4 class="mt-1 mb-3 fw-900">Maximize loyalty</h4> 
                        <p>With our expertise in points, elite status, etc., we ensure clients make the most of their travels while flying the world’s best airlines and staying at world-class hotels.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-5 rounded-5 shadow-lg h-100">
                        <h2 class="text-pc-dark fw-bold">03</h2>
                        <h4 class="mt-1 mb-3 fw-900">Peace of mind</h4> 
                        <p>Our 24/7 emergency support gives you the assurance that help is always available, no matter what unexpected situations arise during their travels.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="p-5 rounded-5 shadow-lg h-100">
                        <h2 class="text-pc-dark fw-bold">04</h2>
                        <h4 class="mt-1 mb-3 fw-900">Customized service</h4> 
                        <p>Each travel strategy and trip is meticulously planned according to your preferences and goals, offering a fully personalized experience.</p>
                    </div>
                </div>
            </div>

            <div class="py-4"></div>

            <div class="row bg-pc-50 py-5">
				<div class="col-lg-8 offset-lg-2 p-5 text-center">
					<h2 class="display-4 fw-bold lh-1">Join the <span class="text-pc-dark">Prince Collection</span> Community</h2>
					<p class="fs-5 my-3 col-md-8 mx-auto">Sign up for the Prince Collection newsletter to get exclusive deals, news, insights and resources to help you travel in style.</p>
					<button class="btn bg-pc-dark text-light rounded-pill px-4 shadow">Sign up</button>
				</div>
			</div>
		
	</main>
</Layout>
