---
import Layout from '../layouts/Layout.astro';
import faqData from '../data/faq.json';
---

<Layout title="Welcome to Prince Collection" description="Prince Collection">
	<main>
		<div class="container px-0 pt-3">
			<div class="row min-vh-500">
				<div class="col-lg-10 offset-lg-1 d-flex flex-column justify-content-center align-items-center min-vh-500 text-center p-5">
                    <span class="badge rounded-pill fw-bold bg-pc-dark-80 text-light py-2 px-3">FAQ</span>
					<h1 class="display-2 fw-bold lh-1 mb-2 mt-3">Answers to our most <span class="text-pc-dark">Frequently Asked Questions</span></h1>
					<p class="col-md-7 fs-5 text-body-secondary mt-3 mb-4">Prince Collection’s Travel Concierge is designed exclusively for companies and individuals who require exclusive travel arrangements handled for them.</p>
				</div>

				<div class="col-lg-10 offset-lg-1">
					<div class="accordion accordion-flush" id="faqAccordion">
						{
						faqData.faq.map((item, index) => (
						<div class="accordion accordion-flush" id="faqAccordion">
							<div class="accordion-item">
								<h2 class="accordion-header py-4 border-top">
									<button class="fs-1 accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target={'#collapse_' + index} aria-expanded="false" aria-controls="flush-collapseOne">
										<span class="col-sm-10 col-md-8">{item.title}</span>
									</button>
								</h2>
								<div id={'collapse_' + index} class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
								<div class="accordion-body">
									<ul class="list-unstyled py-4 mb-0 text-secondary">
									{
										item.content.map((i) => (
											<li class="fs-4 mb-4">{i}</li>
										))
									}
									</ul>
								</div>
							</div>
						</div>
					</div>
							
							))
						}
					</div>
				</div>

			</div>	
		</div><!--end container -->
	</main>
</Layout>

<style>
	.accordion h2 {
		font-family: 'Inter tight', Arial, Helvetica, sans-serif
	}
	.accordion-button:not(.collapsed) {
		background: inherit;
		color: #a1655c;
	}
	.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}
</style>

