---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import crown from '../assets/img/logos/logo-crown.png'
---

<Layout title="Welcome to Prince Collection" description="Prince Collection">
	<main>
		<div class="container-fluid px-0 pt-3">
			<!-- bg-dark text-light -->
			<div class="row row-cols-1 row-cols-lg-2 min-vh-100 pt-5 pt-lg-0">
				<div class="col d-flex flex-column justify-content-center align-items-center text-center p-5">
					<!-- <img style="width: 80px; height: 80px;" src="src/assets/img/logos/logo-crown.png" alt=""> -->
					<Image style="width: 80px; height: 80px" src={crown} alt="Prince Collection logo"/>
					<h1 class="display-4 fw-light text-uppercase lh-1 mb-2 mt-3">Prince Collection</h1>
					<p class="h4 mb-3">The new standard in luxury travel.</p>
				
					<nav class="nav nav-fill d-flex mx-auto">
						<a class="nav-link p-0 me-2" href="/book">
							<button class="btn btn-pc rounded-pill fw-bold px-4">Book your hotel</button>
						</a>
						<a class="nav-link p-0 me-2" href="/concierge">
							<button class="btn btn-pc rounded-pill fw-bold px-4">About us</button>
						</a>
					  </nav>
				</div>
				<div class="col d-flex flex-column justify-content-center align-items-center p-5">
					<!-- <img class="w-100 rounded-4 shadow" style="object-fit: cover;
					aspect-ratio: 1;" src="https://cdn.pixabay.com/photo/2017/05/18/02/32/airplane-2322303_1280.jpg" alt=""> -->
					<!-- <img class="w-100 rounded-4 shadow" style="object-fit: cover;
					aspect-ratio: 1;" src="https://cdn.pixabay.com/photo/2019/06/06/17/07/airplane-4256362_1280.jpg" alt=""> -->
					<!-- <img class="w-100 rounded-4 shadow" style="object-fit: cover;
					aspect-ratio: 1;" src="https://cdn.pixabay.com/photo/2024/01/24/21/22/buildings-8530584_1280.jpg" alt=""> -->
					<img class="w-100 rounded-4 shadow" style="object-fit: cover;
					aspect-ratio: 1;" src="https://images.unsplash.com/photo-1526786220381-1d21eedf92bf?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
				</div>
			</div>

			<div class="row py-5 bg-pc-60">
				<div class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-center text-center text-body-secondary p-5">
					<span class="badge rounded-pill fw-bold bg-pc-dark text-pc py-2 px-3">Prince Collection Concierge</span>
					<h2 class="display-4 fw-bold lh-1 mb-2 mt-3">Get <span class="text-pc-dark">more</span> out of your hotel stays</h2>
					<p class="fs-5">Prince Collection’s Travel Concierge is designed exclusively for companies and individuals who require exclusive travel arrangements handled for them. Our expertise lies in handling the nuances of travel, ensuring a seamless and extraordinary journey from start to finish.</p>
					<a href="/concierge">
						<button class="btn bg-pc-dark text-light fw-bold rounded-pill px-4 shadow">Learn more</button>
					</a>
				</div>
			</div>

			<div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 p-5">
				<!-- bg-pc-dark-80 -->
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/stars.webp" style="width: 120px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/ihg.webp" style="width: 140px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/peninsula.webp" style="width: 140px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/luxurycircle.webp" style="width: 120px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/impresario.webp" style="width: 140px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/step.webp" style="width: 140px; filter: brightness(0);" alt="">
				</div>
			</div>

			<div class="row p-5">
				<div class="col-lg-8 offset-lg-2 text-center">
					<span class="badge rounded-pill fw-bold bg-pc-60 text-pc-dark py-2 px-3">Book with PC</span>
					<h2 class="display-4 fw-900 lh-1 my-3">Book your next hotel stay with us </h2>
					<p class="fs-5 col-lg-10 offset-lg-1">Book your next hotel stay with Prince Collection and enjoy an elevated experience along your trip. Commodo nisi nisi qui reprehenderit adipisicing occaecat amet proident commodo ad ad adipisicing mollit esse. Pariatur ex cillum qui labore enim amet minim et aliquip do Lorem proident minim sint.</p>
				</div>
			</div>

			
			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5 text-body-secondary px-5 pb-5">
				<div class="col">
					<div class="p-5 rounded-4 bg-pc-20 shadow">
						<i class="bi bi-sunrise fs-2 text-pc-dark"></i>
						<h4 class="my-1">Daily breakfast for two people</h4>
						<p>Cupidatat cupidatat ipsum sint consequat do. Consequat ad deserunt ad reprehenderit id duis deserunt fugiat pariatur aliqua.</p>
					</div>
				</div>
				<div class="col">
					<div class="p-5 rounded-4 bg-pc-20 shadow">
						<i class="bi bi-cash-coin text-pc-dark fs-2"></i>
						<h4 class="my-1">$100 (USD) hotel credit</h4>
						<p>Cupidatat cupidatat ipsum sint consequat do. Consequat ad deserunt ad reprehenderit id duis deserunt fugiat pariatur aliqua.</p>
					</div>
				</div>
				<div class="col">
					<div class="p-5 rounded-4 bg-pc-20 shadow">
						<i class="bi bi-house-heart text-pc-dark fs-2"></i>
						<h4 class="mb-2 mt-1">Welcome amenity</h4>
						<p>Cupidatat cupidatat ipsum sint consequat do. Consequat ad deserunt ad reprehenderit id duis deserunt fugiat pariatur aliqua.</p>
					</div>
				</div>
				<div class="col">
					<div class="p-5 rounded-4 bg-pc-20 shadow">
						<i class="bi bi-patch-check text-pc-dark fs-2"></i>
						<h4 class="mb-2 mt-1">One-category room upgrade, subject to availability</h4>
						<p>Cupidatat cupidatat ipsum sint consequat do. Consequat ad deserunt ad reprehenderit id duis deserunt fugiat pariatur aliqua.</p>
					</div>
				</div>
				<div class="col">
					<div class="p-5 rounded-4 bg-pc-20 shadow">
						<i class="bi bi-calendar-check fs-2 text-pc-dark"></i>
						<h4 class="mb-2 mt-1">Early check-in/late check-out, subject to availability</h4>
						<p>Cupidatat cupidatat ipsum sint consequat do. Consequat ad deserunt ad reprehenderit id duis deserunt fugiat pariatur aliqua.</p>
					</div>
				</div>
				<div class="col">
					<div class="p-5 rounded-4 bg-pc-20 shadow">
						<i class="bi bi-moon-stars text-pc-dark fs-2"></i>
						<h4 class="mb-2 mt-1">Property-specific 3rd/4th/5th Night Free promotions</h4>
						<p>Cupidatat cupidatat ipsum sint consequat do. Consequat ad deserunt ad reprehenderit id duis deserunt fugiat pariatur aliqua.</p>
					</div>
				</div>
			</div>

			<div class="row p-5">
				<div class="col-lg-8 offset-lg-2 text-center">
					<span class="badge rounded-pill fw-bold text-pc-dark bg-pc-60 py-2 px-3">Exclusive access</span>
					<h2 class="display-4 fw-900 lh-1 my-3">Enjoy <span class="text-pc-dark-80">exclusive</span> deals and benefits</h2>
					<p class="fs-5">Book with Prince Collection and enjoy access to exclusive deals and features at a broad range of eligible hotels, including luxury brands like Four Seasons, Rosewood, Mandarin Oriental, St. Regis, Waldorf Astoria, Park Hyatt, as well as a wide range of independent boutique luxury properties. Feel free to submit an inquiry through our booking form to get started.</p>
					<button class="btn btn-pc fw-bold rounded-pill px-4 shadow">Inquire</button>
				</div>
			</div>

			<div class="row row-cols-2 row-cols-md-3 row-cols-lg-6 p-5 bg-pc-10">
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/fourseasons.webp" style="width: 140px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/rosewood.webp" style="width: 140px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/mandarin.webp" style="width: 120px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/hyatt.webp" style="width: 120px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/virtuoso.webp" style="width: 140px; filter: brightness(0);" alt="">
				</div>
				<div class="col d-flex my-auto text-center p-3">
					<img src="/images/logos/rocco.webp" style="width: 120px; filter: brightness(0);" alt="">
				</div>
			</div>

			<div class="row p-5">
				<div class="col-lg-6 p-5">
					<span class="badge rounded-pill fw-bold bg-pc-60 text-pc-dark py-2 px-3 mb-3">Prince collection concierge</span>
					<h3 class="fw-bold display-4 lh-1">Your <span class="text-pc-dark">luxury</span> travel concierge</h3>
					<p class="fs-5 py-1">Prince Collection’s Travel Concierge is designed exclusively for high net worth individuals and companies who seek exclusive experiences, handled for them. We understand that time is your most valuable asset. Our expertise lies in handling the nuances of travel, ensuring a seamless and extraordinary journey from start to finish.</p>
					<a href="/concierge">
					<button class="btn btn-pc rounded-pill px-4 fw-bold shadow">Learn more</button>
					</a>
				</div>
				<div class="col-lg-6">
					<Image src="https://images.unsplash.com/photo-1469796466635-455ede028aca?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="A bird." class="w-100 h-100 rounded-4" style="object-fit: cover" width="1200" height="500" alt="descriptive text"/>
				</div>
			</div>

			<div class="row bg-pc-60 py-5 text-body-secondary">
				<div class="col-lg-8 offset-lg-2 p-5 text-center">
					<h2 class="display-4 fw-bold lh-1">Join the <span class="text-pc-dark">Prince Collection</span> Community</h2>
					<p class="fs-5 my-3 col-md-8 mx-auto">Sign up for the Prince Collection newsletter to get exclusive deals, news, insights and resources to help you travel in style.</p>
					<button class="btn bg-pc-dark text-light rounded-pill px-4 shadow">Sign up</button>
				</div>
			</div>
		</div><!--end container -->
		
	</main>
</Layout>
