---
import NewsletterForm from '../components/NewsletterForm.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Prince Collection | Newsletter" description="Sign up for the Prince Collection newsletter for news, reviews, deals, and exclusive travel information delivered straight to your inbox.">
    <div class="container-fluid px-0">
        <div class="row min-vh-100">
            <div class="col-lg-7 d-flex flex-column justify-content-end align-items-start min-vh-50 text-start p-5 mb-0 mb-lg-4 mt-5 mt-lg-0">
                <!-- <img class="w-25 p-4 m-0" src="https://cdn.pixabay.com/photo/2016/03/31/15/20/airline-1293184_1280.png" alt=""> -->
                <span class="badge rounded-pill fw-bold text-bg-dark py-2 px-3">Newsletter</span>
                <h1 class="display-3 fw-bold lh-1 mb-2 mt-3">It’s travel <span class="text-pc-dark">reimagined</span></h1>
                <p class="fs-4 my-3">Stories that move the world in your inbox. We focus on solutions, presenting a balanced take on the smartest people, the biggest ideas, and the most groundbreaking technology shaping our future.</p>
                <div class="col-lg-9">
                    <NewsletterForm newsletterBtn="btn-pc btn-lg" newsletterClass="form-control-lg"  />
                    <p class="small">By providing your email, you agree to the Prince Collection Privacy Policy</p>
                </div>
            </div>
            <div class="col-lg-5 min-vh-50" style="background: url('https://cdn.pixabay.com/photo/2016/03/31/15/20/airline-1293184_1280.png') center bottom repeat; background-size: 50%">
            </div>
        </div>
    </div>
</Layout>