---
const { drawerTitle, drawerId, drawerAriaLabel } = Astro.props;
---

<div class="offcanvas offcanvas-bottom h-100" tabindex="-1" id={drawerId} aria-labelledby={drawerAriaLabel}>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">{drawerTitle}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
        <slot />
    </div>
</div>