---
const today = new Date();
---

<div class="row p-5">
    <div class="col-md-6 col-lg-6 p-4">
        <img class="mb-2" style="width: 30px; height: 30px;" src="src/assets/img/logos/logo-crown.png" alt="Prince of Travel crown logo">
        <h3 class="fw-bold">Prince Collection</h3>
        <p class="col-md-8">Prince Collection is not your standard travel agency. The PC Concierge offsesr exclusive and personalized travel services from hotels to full-bucket travel planning. We do not rely on commissions and are thus able to focus solely on our clients' best interests.</p>
    </div>
    <div class="col-md-6 col-lg-2 p-4">
        <ul class="list-unstyled">
            <li class="fw-bold">Product</li>
            <li>About</li>
            <li>Concierge</li>
            <li>FAQ</li>
            <li>Book Travel</li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-2 p-4">
        <ul class="list-unstyled">
            <li class="fw-bold">Company</li>
            <li>About</li>
            <li>Prince of Travel</li>
            <li>Newsletter</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-2 p-4">
        <ul class="list-unstyled">
            <li class="fw-bold">Resources</li>
            <li>News</li>
            <li>Guides</li>
            <li>Reviews</li>
            <li>Privacy</li>
        </ul>
    </div>
    <div class="col-lg-12 text-center border-top pt-4 px-4 text-body-tertiary">
        <p class="mb-0">Prince Collection is a licensed travel agency, registered in the province of Ontario, Canada.</p>
        <p class="mb-0">TICO #50023501</p>
        <p>&copy; {today.getFullYear()} Prince of Travel</p>
    </div>
</div>

<style scoped>

ul li {
    margin-bottom: 10px;
}
</style>